:root {
    --font-color: #E487E5; /*font color*/
}


.home-container{
    margin: 2rem;
    animation: fade-in 1s ease 1 0.5s forwards;
    
    
}

.main-content{
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.intro{
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 4rem;
}
.intro h1{
    font-size: 4rem;
    font: bold;
    line-height: 6rem;
}
.intro-line{
    width: 95%;
}

.intro-content{
    display: flex;
    justify-content: center;
}
.intro-content .left{
    width: 55%;
    text-align: center;
    line-height: 5rem;
}

/* My social icons and a download cv button */
.btn-icon1{
    display: inline-flex;
    gap: 2rem;
}
.btn-icon1 .soc-icons{
    font-size: 2.8rem;
}
.btn-icon1 .soc-icons:hover{
    color: var(--font-color);
    
}


.btn-icon1 .my-btn1{
    height: 2.8rem;
    width: 7rem;
    border-radius: 0.4rem;
    font-weight: bolder;
    border: none;
    
}
.btn-icon1 .my-btn1:hover{
    background-color: var(--font-color);
    font-weight: bolder;
}

.btn-icon2{
    display: none;
}


.intro-content .left .name, .surname{
    font-size: xx-large;
    color: var(--font-color);
}

/* Media query for mobile devices */
@media only screen and (max-width: 700px) {

    .main-content,.intro-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: center;
        display: flex;
        padding: 0;
        margin: 0; /* Remove margin */
       
    }
    .intro{
        margin: 0;
        margin-bottom: 1rem;
    }
    .intro h1{
        margin: 0;
        font-size: 2.2rem;
        line-height: 2rem;
        padding: 0;
        width: 100%;
    }
    .left-content h1{
        line-height: 2rem;
    }
   .intro-content .left{
    
        width: 80%;
        align-items: center;
        flex-direction: column;

    }

    .intro-content .left .intro-para{
        line-height: 1.8rem;
        word-spacing: 0.5rem;
    }
    .intro-content .right{
        flex-direction: column;
        
    }

    .btn-icon1{
        display: none;
     
    }
    .btn-icon2{
        display: block;
        align-items: center;
        text-align: center;
        margin: 0.6rem;
        gap: 1rem;
    }

    .btn-icon2 .soc-icons{
        font-size: 2.8rem;
        transform: translateY(0.89rem);
        
        
    }
    .btn-icon2 .my-btn1{
        font-size: 1.4rem;
    }

    .btn-icon2 .my-btn1:hover{
        color: var(--font-color);
    }

    .btn-icon2 .soc-icons:hover{
        color: var(--font-color);
        
    }

    

    
}