.home-container{
    /* display: flex; */
    border: 3px dotted red;
    margin: 2rem;
   
    
    
}

.main-content{
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    border: yellow solid 3px;
}
.intro{
    justify-content: center;
    align-content: center;
    text-align: center;
    border: 3px solid white; 
    margin: 1rem;
}
.intro h1{
    font-size: 3.8rem;
    font: bold;
    line-height: 5rem;
}

.intro-content{
    display: flex;
    justify-content: center;
}
.intro-content .left{
    width: 55%;
    text-align: center;
    line-height: 5rem;
    border: 3px red solid;
    
}

.intro-content .left .name, .surname{
    font-size: xx-large;
    color: #E487E5;
}

.intro-content .right{
    /* width: 35%; */
    justify-content: right;
    text-align: right;
    align-items: right;
    align-content: right;
    /* margin-left: 2rem; */
    border: 3px red solid;
    
}

/* Media query for mobile devices */
@media only screen and (max-width: 700px) {

    .main-content,.intro-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: center;
        display: flex;

    }
   .intro-content .left{
    /* align-items: center; */
    /* border: red solid 3px; */
    width: 80%;
    align-items: center;

   }
}