.home-container{
    /* display: flex; */
    /* border: 3px dotted red; */
    margin: 2rem;
}

.main-content{
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    
}
.intro{
    justify-content: center;
    align-content: center;
    text-align: center;
    /* border: 3px solid yellow;  */
    margin: 1rem;
}
.intro h1{
    font-size: 3.8rem;
    font: bold;
    line-height: 5rem;
}

.intro-content{
    display: flex;
}
.intro-content .left{
    width: 65%;
    text-align: center;
    line-height: 5rem;
}

.intro-content .left .name, .surname{
    font-size: xx-large;
    color: #E487E5;
}

.intro-content .right{
    width: 35%;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
}
