.typed-text {
    font-family: 'poppind', sans-serif;
    font-size: 3.5rem;
    color: #E487E5;
    font-weight: bold;

  }
  
  .typed-cursor {
    color: #faf4f7; /* Cursor color */
    
  }

  
@media (max-width: 550px){
  .typed-text{
    font-size: 1.25rem;
  }

  
}
