.nav-wrapper {
  background-color: #030637;
  position: sticky;
  top: 0;
  z-index: 30;
  backdrop-filter: blur(50px);
  box-shadow: 0 0 10px #e487e6;
}
.nav-content {
  /* max-width: 1300px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 1rem 0; */
  /* margin: 0 auto; */
}

/* Menu items on the right nav side */
.nav-content .menu-wrapper {
  border: red solid 2px;
  justify-content: center;
  padding: 0;
}

.myLogo {
  user-select: none;
}

.myLogo:hover {
  color: #e487e6;
}

/* Icons size manipulation */
.my-icon {
  font-size: 24px;
}

.nav-content ul {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  list-style-type: none;
}

.nav-content li {
  margin: 0 1.5rem;
}

.menu-item,
.myLogo {
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  color: #e487e6;
  position: relative;
  cursor: pointer;
}

.menu-item::before {
  content: " ";
  width: 2rem;
  height: 0.2rem;
  background: linear-gradient(50deg, #a993fe 0%, #7e61e7 100%);
  border-radius: 0.5rem;
  position: absolute;
  bottom: -0.6rem;
  opacity: 0;
  transform: translateX(-1.5rem);
  transition: all 0.3s ease;
}

/* Underline animation hover */
.menu-item:hover::before {
  width: 100%;
  transform: translateX(0);
  opacity: 1;
}

@keyframes expand {
  from: {
    transform: scaleX(0);
  }
  to: {
    transform: scaleX(1);
  }
}

/* Media query for mobile devices */
@media only screen and (max-width: 700px) {
  .nav-content {
    align-items: center;
    flex-direction: column;
    max-width: fit-content;
  }
  /* .nav-wrapper {
    max-width: 100%;
  } */

  .menu-wrapper {
    max-width: 100%;
  }

  .nav-content ul {
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    .menu-item {
      font-size: 0.1rem;
    }
  }
}
