
.proj-main-container{
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    border: 8px solid red;
    margin: 2rem;
    margin-top: 6rem;
}


.sliding-text {
    position: absolute;
    color: #66489e;
    animation: slideLeft 11s linear infinite; 
    font-size: 11rem;
    width: auto;
    letter-spacing: 3rem;
    opacity: 0.5;

    
}


@keyframes slideLeft {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  

.proj-main-container .proj-head{
    text-decoration: underline;
    font-size: 3.5rem;
}
.proj-main-container .proj-para{
    justify-content: center;
    margin: 2rem;
    padding-left: 10rem;
    padding-right: 10rem;

}

.pro-wrapper{
    
    height: 19rem;
    width: 19rem;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    /* top: 0; */
    /* bottom: -30rem; */
    transform: translateY(5rem);
}

.pro-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 500px;
    perspective-origin: 50%;
}

.image-cube{
    height: 18rem;
    width: 18rem;
    transform-style: preserve-3d;
    position: relative;
    transition: 3s;
    /* transform: rotateY(50deg); */
}
.image-cube div{
    width: 19rem;
    height:19rem;
    position: absolute;
    
}

img{
    width: 100%;
    transform: translateZ(0);
    border: #d8b1e0 solid 2px;
    border-radius: 0.4rem;
}

.proj-front{
    transform: translateZ(150px);
}

.proj-right{
    transform: rotateY(-270deg) translateX(150px);
    transform-origin: 100% 0;
}

.proj-back{
    transform: translateZ(-150px) rotateY(180deg);

}
.proj-left{
    transform: rotateY(270deg) translateX(-150px);
    transform-origin: 0 50%;
}
.proj-btns{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.proj-btns button{
    background-color: transparent;
    color: #c191c2;
    /* border: 3px solid #030637; */
    border:none;
    border-radius: 50%;
    font-size: 3rem;
    cursor: pointer;
    transform: translateY(-8.9rem);
    
}
.proj-btns button:hover{
    color: #d8b1e0;
}

.proj-btns button .proj-prev-icon,
.proj-btns button .proj-next-icon {
    transition: all 0.34s ease-in-out; /* You can adjust the duration and timing function as needed */
}

.proj-btns button .proj-prev-icon:hover{
    border-radius: 50px;
    /* border: red solid 2px; */
    box-shadow: 0 0 2rem rgba(228, 135, 229, 0.5);
}
.proj-btns button .proj-next-icon:hover{
    border-radius: 50px;
    /* border: red solid 2px; */
    box-shadow: 0 0 2rem rgba(228, 135, 229, 0.5);
}

@media only screen and (max-width: 700px){

}