/* General styling for the main container */
.proj-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Slider */


/* Styling for project heading */
.proj-main-container .proj-head {
    text-decoration: underline;
    font-size: 3.5rem;
}

/* Styling for project paragraph */
.proj-main-container .proj-para {
    margin: 2rem;
    padding: 1rem;
    margin: 0 8rem;
    margin-bottom: 1rem;
    justify-content: center;
    box-shadow: 0 0 2rem rgba(228, 135, 229, 0.5);
    border:#c191c2 solid 2px;
    border-radius: 1rem;
}

/* Styling for the cube and its components */
.pro-wrapper {
    height: 20rem;
    width: 19rem;
    margin: auto;
    left: 0;
    right: 0;
    transform: translateY(5.2rem);
    align-items: center;
    justify-content: center;
    align-content: center;
}

.pro-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 31.25rem;
    perspective-origin: 45%;
    
}

.image-cube {
    width: 19rem;
    height: 19rem;
    transform-style: preserve-3d;
    position: relative;
    transition: 3s;
    
}

.image-cube #proj-pic {
    width: 19rem;
    height: 12.78rem;
    position: absolute;

}

.proj-img {
 
    width: 100%;
    transform: translateZ(0);
    border: 0.1rem #c191c2 solid;
    box-shadow: 0 0 2rem rgba(228, 135, 229, 0.2);
}

.proj-front {
    transform: translateZ(9.375rem);
}

.proj-right {
    transform: rotateY(-270deg) translateX(9.375rem);
    transform-origin: 100% 0;
}

.proj-back {
    transform: translateZ(-9.375rem) rotateY(180deg);
}

.proj-left {
    transform: rotateY(270deg) translateX(-9.375rem);
    transform-origin: 0 50%;
}

/* Styling for project buttons */
.proj-btns {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    transform: translateY(-8.9rem);
}

.proj-btns .proj-buttons {
    
    background-color: transparent;
    color: #c191c2;
    border: none;
    border-radius: 50%;
    font-size: 3rem;
    cursor: pointer;
    
    /* transform: translateY(-8.9rem); */
}

.proj-btns .proj-buttons:hover {
    color: #d8b1e0;
}

.proj-btns .proj-buttons .proj-prev-icon,
.proj-btns .proj-buttons .proj-next-icon {
    transition: all 0.34s ease-in-out;
}

.proj-btns .proj-buttons .proj-prev-icon:hover,
.proj-btns .proj-buttons .proj-next-icon:hover {
    border-radius: 3.125rem;
    box-shadow: 0 0 2rem rgba(228, 135, 229, 0.5);
}

/* Responsive styling for smaller screens */
@media only screen and (max-width: 700px) {
    .proj-main-container{
        margin: 0;
        margin-bottom: 2rem;
        border: none;
    }

    /* Styling for project heading */
    .proj-main-container .proj-head {
        text-decoration: underline;
        font-size: 1.75rem;
    }
    /* Styling for project paragraph */
    .proj-main-container .proj-para {
        font-size: 1.05rem;
        margin: 2rem;
        padding: 1rem;
        /* margin: 0 8rem; */
        margin-bottom: 3rem;
        margin-top: 3rem;
        justify-content: center;
        margin-top: 0.3rem;
        box-shadow: 0 0 2rem rgba(228, 135, 229, 0.2);

    }
    .pro-container {
        height: auto;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        perspective: 100.25rem;
        perspective-origin: 50%; /* Adjusted to 50% for centering */
    
    }
    .proj-btns .proj-buttons {
        transform: none; /* Reset translateY for buttons */
        margin-bottom: 1rem; /* Add margin between buttons */
        transform: translateY(-1.5rem);
    }

    .pro-wrapper {
        height: 19rem;
        width: 19rem;
        margin: auto;
        left: 0;
        right: 0;
        transform: translateY(1rem);

    }
}
