
.reach-container {
    margin: 3.75rem; /* 60px converted to rem */
    position: relative;
    padding: 2.5rem; /* 40px converted to rem */
    display: flex;
    gap: 5rem; /* 80px converted to rem */
    border-radius: 1.25rem; /* 20px converted to rem */
    box-shadow: 0 0 2rem rgba(228, 135, 229, 0.5);
    background-color: #1f1e63;
    overflow: hidden;
}

.reach-left {
    width: 55%;
}

.reach-heading {
    font-size: 1.5625rem; /* 25px converted to rem */
    font-weight: 600;
    line-height: 1;
    color: #c191c2;
}

.reach-text {
    font-size: 0.8rem;
    margin-top: 0.85rem;
}

form {
    margin-top: 1.25rem; /* 20px converted to rem */
}

.inputBox {
    position: relative;
    margin-bottom: 1.25rem; /* 20px converted to rem */
}

.inputBox input,
.inputBox textarea {
    width: 100%;
    padding: 0.625rem; /* 10px converted to rem */
    font-size: 1rem; /* 16px converted to rem */
    border-radius: 0.3125rem; /* 5px converted to rem */
    outline: none;
    border: none;
    background-color: rgb(174, 111, 233);
    color: whitesmoke;
}

.inputBox input::placeholder,
.inputBox textarea::placeholder {
    color: white;
    opacity: 0.5;
    font-size: 0.75rem; /* 12px converted to rem */
}

.inputBox.errors input,
.inputBox.errors textarea {
    border-bottom: 3.4px solid red;
}

.inputBox:not(.errors) input:focus,
.inputBox:not(.errors) textarea:focus {
    border-bottom: 3.4px solid green;
}

.inputBox textarea{
    resize: none;
    height: 9rem; /* 10rem converted to rem */
}
.inputBox .err-msg{
    font-size: 10px;
    color: red;
}

.reach-btn {
    width: 100%;
    display: inline-block;
    padding: 0.625rem 1.25rem; /* 10px 20px converted to rem */
    font-size: 1rem; /* 16px converted to rem */
    font-weight: 600;
    border: none;
    color: #c191c2;
    border-radius: 0.3125rem; /* 5px converted to rem */
    cursor: pointer;
    transition: 0.5s;
}

.reach-right .illustration .reach-image {
    width: 25rem; /* 21px converted to rem */
}

.reach-socials {
    text-align: center;
    border: red solid 0.3rem;
}

.reach-socials .reach-soc-icons {
    font-size: 3.125rem; /* 50px converted to rem */
    margin: 0.8rem;
}

.reach-socials .reach-soc-icons:hover {
    color: #dc8ddd;
}

/* Background animation */
@keyframes move {
    100% {
        z-index: 0;
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.reach-container span {
    width: 3vmin;
    height: 3vmin;
    border-radius: 3vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 4.5rem; /* Changed to rem */
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: 0;
}


.reach-container span:nth-child(0) {
    color: #E45A84;
    top: 68%;
    left: 42%;
    animation-duration: 44s;
    animation-delay: -3s;
    transform-origin: 0vw -3vh;
    position: absolute;
    box-shadow: -6vmin 0 1.2574514848417127vmin currentColor;
}
.reach-container span:nth-child(1) {
    color: #583C87;
    top: 38%;
    left: 97%;
    animation-duration: 7s;
    animation-delay: -27s;
    transform-origin: 23vw -9vh;
    box-shadow: -6vmin 0 1.1956606894602373vmin currentColor;
    position: absolute;
}
.reach-container span:nth-child(2) {
    color: #E45A84;
    top: 87%;
    left: 23%;
    animation-duration: 53s;
    animation-delay: -23s;
    transform-origin: -18vw 4vh;
    box-shadow: 6vmin 0 0.7644818666270348vmin currentColor;
    position: absolute;
}
.reach-container span:nth-child(3) {
    color: #E45A84;
    top: 34%;
    left: 22%;
    animation-duration: 28s;
    animation-delay: -19s;
    transform-origin: -13vw -16vh;
    box-shadow: 6vmin 0 1.6993323415827102vmin currentColor;
    position: absolute;
}
.reach-container span:nth-child(4) {
    color: #FFACAC;
    top: 15%;
    left: 47%;
    animation-duration: 22s;
    animation-delay: -30s;
    transform-origin: 5vw 14vh;
    box-shadow: -6vmin 0 1.345333310777744vmin currentColor;
    position: absolute;
}
.reach-container span:nth-child(5) {
    color: #FFACAC;
    top: 2%;
    left: 9%;
    animation-duration: 35s;
    animation-delay: -15s;
    transform-origin: -3vw 24vh;
    position: absolute;
    box-shadow: -6vmin 0 1.5345410538280366vmin currentColor;
}
.reach-container span:nth-child(6) {
    color: #FFACAC;
    top: 67%;
    left: 21%;
    animation-duration: 47s;
    animation-delay: -28s;
    transform-origin: -17vw 24vh;
    position: absolute;
    box-shadow: -6vmin 0 0.8169651937763842vmin currentColor;
}
.reach-container span:nth-child(7) {
    color: #583C87;
    top: 13%;
    left: 78%;
    animation-duration: 19s;
    animation-delay: -45s;
    transform-origin: 11vw -11vh;
    position: absolute;
    box-shadow: -6vmin 0 0.8562276266159317vmin currentColor;
}
.reach-container span:nth-child(8) {
    color: #FFACAC;
    top: 1%;
    left: 34%;
    animation-duration: 37s;
    animation-delay: -17s;
    transform-origin: -24vw 17vh;
    position: absolute;
    box-shadow: -6vmin 0 0.971469990003899vmin currentColor;
}
.reach-container span:nth-child(9) {
    color: #583C87;
    top: 13%;
    left: 73%;
    animation-duration: 52s;
    animation-delay: -14s;
    transform-origin: -12vw -15vh;
    position: absolute;
    box-shadow: 6vmin 0 0.928330556803235vmin currentColor;
}
.reach-container span:nth-child(10) {
    color: #583C87;
    top: 61%;
    left: 29%;
    animation-duration: 41s;
    animation-delay: -8s;
    transform-origin: 0vw 0vh;
    position: absolute;
    box-shadow: -6vmin 0 1.7202055426776273vmin currentColor;
}
.reach-container span:nth-child(11) {
    color: #E45A84;
    top: 54%;
    left: 41%;
    animation-duration: 10s;
    animation-delay: -18s;
    transform-origin: -7vw 15vh;
    position: absolute;
    box-shadow: -6vmin 0 1.7390119325161182vmin currentColor;
}
.reach-container span:nth-child(12) {
    color: #E45A84;
    top: 17%;
    left: 52%;
    animation-duration: 24s;
    animation-delay: -10s;
    transform-origin: 11vw 2vh;
    position: absolute;
    box-shadow: -6vmin 0 1.5751362913539226vmin currentColor;
}
.reach-container span:nth-child(13) {
    color: #E45A84;
    top: 94%;
    left: 25%;
    animation-duration: 32s;
    position: absolute;
    animation-delay: -32s;
    transform-origin: 9vw 17vh;
    box-shadow: 6vmin 0 1.1603597481779295vmin currentColor;
}
.reach-container span:nth-child(14) {
    color: #FFACAC;
    top: 14%;
    left: 30%;
    animation-duration: 7s;
    position: absolute;
    animation-delay: -37s;
    transform-origin: 17vw -16vh;
    box-shadow: 6vmin 0 1.163268754310846vmin currentColor;
}
.reach-container span:nth-child(15) {
    color: #FFACAC;
    top: 66%;
    left: 11%;
    animation-duration: 27s;
    animation-delay: -44s;
    position: absolute;
    transform-origin: -11vw 2vh;
    box-shadow: -6vmin 0 0.9112217295499752vmin currentColor;
}
.reach-container span:nth-child(16) {
    color: #FFACAC;
    top: 92%;
    left: 57%;
    animation-duration: 38s;
    animation-delay: -10s;
    position: absolute;
    transform-origin: 2vw 9vh;
    box-shadow: 6vmin 0 1.490224553495633vmin currentColor;
}
.reach-container span:nth-child(17) {
    color: #583C87;
    top: 86%;
    left: 37%;
    animation-duration: 35s;
    position: absolute;
    animation-delay: -30s;
    transform-origin: 20vw -18vh;
    box-shadow: 6vmin 0 0.8606310933660599vmin currentColor;
}
.reach-container span:nth-child(18) {
    color: #E45A84;
    top: 72%;
    left: 45%;
    animation-duration: 20s;
    position: absolute;
    animation-delay: -20s;
    transform-origin: 1vw -9vh;
    box-shadow: 6vmin 0 1.4947457862205715vmin currentColor;
}
.reach-container span:nth-child(19) {
    color: #FFACAC;
    top: 73%;
    left: 81%;
    animation-duration: 26s;
    position: absolute;
    animation-delay: -35s;
    transform-origin: 17vw -2vh;
    box-shadow: 6vmin 0 0.9230014735451193vmin currentColor;
}
.reach-container span:nth-child(20) {
    color: #583C87;
    top: 84%;
    left: 1%;
    animation-duration: 36s;
    animation-delay: -47s;
    position: absolute;
    transform-origin: -17vw 18vh;
    box-shadow: 6vmin 0 0.7665119132360345vmin currentColor;
}
.reach-container span:nth-child(21) {
    color: #E45A84;
    top: 2%;
    left: 74%;
    animation-duration: 16s;
    animation-delay: -16s;
    position: absolute;
    transform-origin: -10vw -3vh;
    box-shadow: -6vmin 0 1.5824805440588823vmin currentColor;
}
.reach-container span:nth-child(22) {
    color: #583C87;
    top: 53%;
    left: 64%;
    animation-duration: 27s;
    animation-delay: -25s;
    position: absolute;
    transform-origin: 5vw 6vh;
    box-shadow: -6vmin 0 0.7692972493161394vmin currentColor;
}
.reach-container span:nth-child(23) {
    color: #FFACAC;
    top: 95%;
    left: 25%;
    animation-duration: 25s;
    position: absolute;
    animation-delay: -48s;
    transform-origin: -17vw -6vh;
    box-shadow: 6vmin 0 1.6608626336958594vmin currentColor;
}
.reach-container span:nth-child(24) {
    color: #E45A84;
    top: 14%;
    left: 17%;
    animation-duration: 25s;
    position: absolute;
    animation-delay: -46s;
    transform-origin: 6vw 18vh;
    box-shadow: -6vmin 0 0.7661795915544756vmin currentColor;
}
.reach-container span:nth-child(25) {
    color: #E45A84;
    top: 11%;
    left: 94%;
    position: absolute;
    animation-duration: 40s;
    animation-delay: -9s;
    transform-origin: 6vw 4vh;
    box-shadow: 6vmin 0 1.0621639909038398vmin currentColor;
}
.reach-container span:nth-child(26) {
    color: #E45A84;
    top: 48%;
    left: 69%;
    animation-duration: 20s;
    animation-delay: -46s;
    position: absolute;
    transform-origin: -21vw -10vh;
    box-shadow: 6vmin 0 1.6391698996564303vmin currentColor;
}
.reach-container span:nth-child(27) {
    color: #E45A84;
    top: 29%;
    left: 50%;
    animation-duration: 15s;
    animation-delay: -7s;
    position: absolute;
    transform-origin: 1vw 17vh;
    box-shadow: 6vmin 0 0.7915778579517301vmin currentColor;
}
.reach-container span:nth-child(28) {
    color: #E45A84;
    top: 33%;
    left: 96%;
    animation-duration: 10s;
    animation-delay: -20s;
    position: absolute;
    transform-origin: -20vw 14vh;
    box-shadow: 6vmin 0 1.0723785765835245vmin currentColor;
}
.reach-container span:nth-child(29) {
    color: #E45A84;
    top: 68%;
    left: 57%;
    animation-duration: 8s;
    animation-delay: -17s;
    position: absolute;
    transform-origin: 20vw 0vh;
    box-shadow: -6vmin 0 1.2495491355753696vmin currentColor;
}
.reach-container span:nth-child(30) {
    color: #583C87;
    top: 85%;
    left: 8%;
    animation-duration: 35s;
    animation-delay: -24s;
    transform-origin: -6vw 6vh;
    position: absolute;
    box-shadow: 6vmin 0 1.5870742902735235vmin currentColor;
}
.reach-container span:nth-child(31) {
    color: #E45A84;
    top: 46%;
    left: 56%;
    animation-duration: 55s;
    animation-delay: -50s;
    transform-origin: 11vw -11vh;
    position: absolute;
    box-shadow: 6vmin 0 0.7870124529783804vmin currentColor;
}
.reach-container span:nth-child(32) {
    color: #E45A84;
    top: 69%;
    left: 83%;
    animation-duration: 17s;
    animation-delay: -43s;
    transform-origin: 6vw 11vh;
    position: absolute;
    box-shadow: -6vmin 0 1.1603701437892902vmin currentColor;
}
.reach-container span:nth-child(33) {
    color: #FFACAC;
    top: 22%;
    left: 19%;
    animation-duration: 47s;
    animation-delay: -14s;
    transform-origin: -24vw 4vh;
    position: absolute;
    box-shadow: 6vmin 0 1.1111088775050928vmin currentColor;
}
.reach-container span:nth-child(34) {
    color: #FFACAC;
    top: 47%;
    left: 18%;
    position: absolute;
    animation-duration: 15s;
    animation-delay: -3s;
    transform-origin: 6vw 14vh;
    box-shadow: -6vmin 0 0.7597775879869546vmin currentColor;
}


/* Mobile responsiveness  */
/* Mobile responsiveness */
@media (max-width: 43.75rem) {
    /* 700px converted to rem */
    .reach-container {
        flex-direction: column;
        gap: 2.5rem; /* 40px converted to rem */
        border: red solid 3px;
        width: 85%;
        align-items: center;
        align-content: center;
        justify-content: center;
        margin: 0 auto; /* Center the container horizontally */
    }

    .reach-left,
    .reach-right {
        width: 100%;
        margin: 0.1rem;
    }

    .main-reach {
        background-color: red;
    }

    .capcha {
        width: 1rem;
    }

    .reach-right .illustration .reach-image {
        display: none;
    }
}
