
.reach-container {
    margin: 6.5rem; /* 60px converted to rem */
    margin-top: 1.9rem;
    position: relative;
    padding: 2.5rem; /* 40px converted to rem */
    display: flex;
    gap: 5rem; /* 80px converted to rem */
    border-radius: 1.25rem; /* 20px converted to rem */
    box-shadow: 0 0 2rem rgba(228, 135, 229, 0.5);
    background-color: #1f1e63;
    overflow: hidden;
}

.reach-left {
    width: 55%;
}

.reach-heading {
    font-size: 1.5625rem; /* 25px converted to rem */
    font-weight: 600;
    line-height: 1;
    color: #c191c2;
}

.reach-text {
    font-size: 0.8rem;
    margin-top: 0.85rem;
}

form {
    margin-top: 1.25rem; /* 20px converted to rem */
}

.inputBox {
    position: relative;
    margin-bottom: 1.25rem; /* 20px converted to rem */
}

.inputBox input,
.inputBox textarea {
    width: 100%;
    padding: 0.625rem; /* 10px converted to rem */
    font-size: 1rem; /* 16px converted to rem */
    border-radius: 0.3125rem; /* 5px converted to rem */
    outline: none;
    border: none;
    background-color: rgb(174, 111, 233);
    color: whitesmoke;
}

.inputBox input::placeholder,
.inputBox textarea::placeholder {
    color: white;
    opacity: 0.5;
    font-size: 0.75rem; /* 12px converted to rem */
}

.inputBox.errors input,
.inputBox.errors textarea {
    border-bottom: 3.4px solid red;
}

.inputBox:not(.errors) input:focus,
.inputBox:not(.errors) textarea:focus {
    border-bottom: 3.4px solid green;
}

.inputBox textarea{
    resize: none;
    height: 9rem; /* 10rem converted to rem */
}
.inputBox .err-msg{
    font-size: 10px;
    color: red;
}

.reach-btn {
    width: 100%;
    display: inline-block;
    padding: 0.625rem 1.25rem; /* 10px 20px converted to rem */
    font-size: 1rem; /* 16px converted to rem */
    font-weight: 600;
    border: none;
    border-radius: 0.3125rem; /* 5px converted to rem */
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 0.5rem;
}
.reach-btn:active {
    background-color:  #E487E5;
}
.reach-right .illustration .reach-image {
    width: 25rem; /* 21px converted to rem */
}

.reach-socials {
    text-align: center;
}

.reach-socials .reach-soc-icons {
    font-size: 3.125rem; /* 50px converted to rem */
    margin: 0.8rem;
}

.reach-socials .reach-soc-icons:hover {
    color: #dc8ddd;
}
/* ipads responsiveness */
@media (max-width: 1030px) {
    .reach-left {
        margin-left: 2rem;
    }
    
}
/* Mobile responsiveness */
@media (max-width: 850px) {
    /* 700px converted to rem */
    .reach-container {
        flex-direction: column;
        gap: 2.5rem; 
        border: #e0d6ec solid 3px;
        width: 85%;
        align-items: center;
        align-content: center;
        justify-content: center;
        margin: 2.5rem auto;     
    }
    .reach-container:hover {
    border: #c191c2 solid 3px;
    }

    .reach-left,
    .reach-right {
        width: 100%;
        margin: 0.1rem;
    }

    .reach-right .illustration .reach-image {
        display: none;
    }
}
