.cont {
    /* position: relative; */
    /* min-height: 50vh; */
    /* padding: 50px 50px; */
    /* margin: 25px; */
    /* margin-top: 7px; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: right; */
    /* align-items: right; */
    border: rgb(17, 0, 255) solid 3px;
}

.cont .logo-skill {
    position: relative; /* Change from inherit to relative */
    /* margin: -25px; */
    height: 17rem;
    width: 17rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 50%;
    user-select: none;
    /* padding-left: 45%; */
    /* padding-top: 25%; */
}

.cont .logo-skill .main-img {
    position: absolute;
    height: 11rem;
    width: 11rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    cursor: pointer;
}


.cont .logo-skill .main-img {
    animation: spin 8s linear 1s infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.cont .logo-skill .circle {
    position: absolute;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    /* background-color: rgb(4, 4, 44); */
    background-color: #E487E5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s ease;
    opacity: 0;
}





.cont .logo-skill .main-img .circle {
    opacity: 1;
}

.cont .logo-skill .main-img .circle:nth-child(1) {
    background: url(../skills/java.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    transform: translateY(-210%);
}

.cont .logo-skill .main-img .circle:nth-child(2) {
    background: url(../skills/BI.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    transform: translate(150%, -150%);
}


.cont .logo-skill .main-img .circle:nth-child(3){
    background: url(../skills/Bootstrap.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    transform: translateX(210%);
}

.cont .logo-skill .main-img .circle:nth-child(4){
    background: url(../skills/js.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    transform: translate(150%,150%);
}

.cont .logo-skill .main-img .circle:nth-child(5){
    background: url(../skills/python.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    transform: translateY(210%);
}

.cont .logo-skill .main-img .circle:nth-child(6){
    background: url(../skills/R.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    transform: translate(-150%, 150%);
}

.cont .logo-skill .main-img .circle:nth-child(7){
    background: url(../skills/react.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    transform: translateX(-210%);
}

.cont .logo-skill .main-img .circle:nth-child(8){
    background: url(../skills/sql.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    transform: translate(-150%,-150%);
}


.cont img {
    position: absolute;
    height: 165px;
    width: 165px;
    border-radius: 50%;
    border: 3px solid #E487E5;
    transform: translate(-100px);
    opacity: 0;
    animation: fade-in 1s ease 1 0.5s forwards;
}

@keyframes fade-in {
    to {
        transform: translate(0);
        opacity: 1;
    }
}

/* Media query for mobile devices */
@media only screen and (max-width: 700px) {

    .cont .logo-skill .main-img {
        position: absolute;
        height: 10.32rem;
        width: 10.32rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 5;
        cursor: pointer;
       
    }
    .cont .logo-skill .circle {
        position: absolute;
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        /* background-color: rgb(4, 4, 44); */
        background-color: #E487E5;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .2s ease;
        opacity: 0;
    }
    .cont img {
        position: absolute;
        height: 6.5rem;
        width: 6.5rem;
        border-radius: 50%;
        border: 3px solid #E487E5;
        transform: translate(-100px);
        opacity: 0;
        animation: fade-in 1s ease 1 0.5s forwards;
    }
    .cont{
        background-color: red;
        align-items: center;
        align-content: center;
        justify-content: center;
        
    }
}