.container{
    /* max-width: 1300px; ' */
    position: relative;
    /* border: red 3px solid; */
    

}

@media (max-width: 700px){
    .cotainer{
        padding: 0 1.5rem;
        position: sticky;
    }
}